/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: monospace;
}

.acc_sidebar{
	background-color: #ffffcc;
}

.account_detail, .account{
  background-color: #ffeee6;
}

.account_detail div.row {
  padding: 12px 5px;
}

.account{
	padding: 10px;
}

span#current_balance {
  font-weight: 900;
}

a.fa.fa-trash {
  color: red;
  font-size: 20px;
}

a.fa.fa-pencil {
  color: #ff6600;
  font-size: 20px;
}

a.fa.fa-eye {
  color: green;
  font-size: 18px;
}

.account input, textarea {
  width: 100%;
  padding: 2px 10px;
}

.modal-title{
	color: red;
}

.modal-content{
	border: 3px solid #ff4d4d;;
  border-width: 5px;
  border-radius: 25px;
}